*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 10px;
}

.btn{
    background-color: darkcyan;
    border-radius: 5px;
    padding: 4px;
    color: white;
}

#container {
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 750px;
    background-color: white;
}

.grid-row{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.grid-column{
    flex: 1;
}